.menubar-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #1f2937;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-title {
  color: rgb(18, 235, 235);
  flex-grow: 1;
  text-align: center;
}

.menubar-custom .p-menubar-root-list > .p-menubaritem > .p-menuitem-link:hover {
  background-color: #374151;
  border-radius: 5px;
}

.menubar-custom .search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-grow: 2;
  margin-right: 10px;
}

.menubar-custom .search-input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #555;
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
}

.menubar-custom .search-input::placeholder {
  color: #ddd;
}

.menubar-custom .search-icon {
  margin-left: -30px;
  color: #9ca3af;
  font-size: 1.2rem;
}

.menubar-custom .navbar-end {
  display: flex;
  align-items: center;
}

.menubar-custom .cart-icon {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.menubar-custom .cart-icon i {
  color: #9ca3af;
  font-size: 1.5rem;
}

.menubar-custom .cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #f00;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 0.8rem;
}

.menubar-custom .menu-icon {
  display: none;
  font-size: 2rem; /* Aumentamos el tamaño del ícono */
  color: #9ca3af;
  margin-left: 10px;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menubar-custom .navbar-logo {
    display: none;
  }

  .menubar-custom .navbar-title {
    margin: 0 auto;
  }

  .menubar-custom .search-container {
    order: 3;
    flex-grow: 1;
  }

  .menubar-custom .menu-icon {
    display: block;
  }

  .menu-items-mobile {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 10px 0;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .menu-item-mobile {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    text-align: center;
  }

  .menu-item-mobile:hover {
    background-color: #374151;
  }
}
