/* Navbar.css */

/* Estilos básicos para dispositivos móviles */
.menubar-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #1f2937;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-title {
  color: rgb(18, 235, 235);
  margin-bottom: 10px;
  text-align: center;
}

.menubar-custom .p-menubar-root-list {
  display: none; /* Ocultar elementos del menú en móviles */
}

.menubar-custom .search-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.menubar-custom .search-input {
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 20px;
  background-color: #555;
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
}

.menubar-custom .search-input::placeholder {
  color: #ddd;
}

.menubar-custom .search-icon {
  position: absolute;
  right: 15px;
  color: #9ca3af;
  font-size: 1.2rem;
}

.menubar-custom .navbar-end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.menubar-custom .cart-icon {
  margin-left: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.menubar-custom .cart-icon i {
  color: #9ca3af;
  font-size:
}